/* jCarousel */

.preface-top-inner .inner,
.preface-top-inner .block {
  margin: 0;
}

.front .header-group-wrapper {
  margin-bottom: 0;
}

.carousel-wrapper {
  border-width: 1px;
  border-color: @highlight-color-1;
  // border-color: Red;
  border-style: none solid solid solid;
  width: @carousel-width;
}

.home-features-carousel {
  height: 335px;
  background: url(/media/common/spinner.gif) center center no-repeat #FFF;
	ul {
    margin: 0;
    padding: 0;
  }
  li {
		width: @carousel-width;
    height: @carousel-height;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
	}

  .feature-image {
    position: relative;
    .imagefield-field_overlay_image {
    position: absolute;
    top: 0;
    left: 0;
    }
  }
	.feature {
		position: relative;
	}
  > .inner {
    // border: 1px solid red;
    margin: 0 !important;
  }
  // height: 338px;
	margin-bottom: 0;
  overflow: hidden;
}

.front .more-link {
  margin-bottom: 0;
}

.home-features-carousel-nav,
.home-features-carousel-promo {
	text-align: right;
  height: 55px;
	padding-top: 5px;
	margin-bottom: 0;
  background: #FFF;
	border-top: 2px solid @highlight-color-1;
}

.home-features-carousel-nav {
	.inner {
    margin: 0 !important;
		padding-right: 6px;
	}
	ul {
		margin: 0;
    li {
      &:last-child {
        margin-right: 0;
      }
      list-style-type: none;
      display: inline;
      margin-right: 8px;
      img {
        width: 50px;
        height: 50px;
      }
      .views-field-field-thumbnail-fid {
        display: inline;
      }
      &.views-row-last {
        margin-right: 5px;
      }
    }
	}
	margin-top: 0;
  width: 599px;
}

.home-features-carousel-promo {
	.inner {
		padding-top: 12px;
	}
  .feature-content {
    .text-shadow-dark();
  }
	width: 359px;
  text-align: left;
}

.test-site-warning .warning {
  padding: 15px 10px !important;
}

.row.carousel-wrapper {
  margin-bottom: 30px;
}

.row.events,
.more-news .view-footer {
  margin-bottom: 30px;
}

.row.admissions-links {
  margin-bottom: 60px;
}


/* 3) Events view style */

.upcoming-events {
  h2 {
    font-size: 170%;
    margin-bottom: 20px;
  }
  .view {
    padding-right: 20px;
  }
  ul, li {
    list-style-type: none;
  }
  ul {
    margin-left: 0;
  }
  li {
    &.first {
      margin-top: 0;
    }
    .clearfix();
  }
  .date {
    .daypart, .datepart {
      padding: 3px 4px;
      text-align: center;
    }
    .daypart {
      color: #FFF;
      font-size: 120%;
      font-weight: 600;
      background: @shc-purple;
    }
    .datepart {
      white-space: nowrap;
      background: #FFF;
      font-size: 90%;
    }
    span {
      display: block;
    }
    width: 60px;
    float: left;
    margin-right: 10px;
    border: 1px solid @highlight-color-1;
  }
  p.title a {
    font-size: 120%;
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
  // margin-right: 20px;
}

@featureFontSize: 16px;
@featureLineHeight: 20px;
@featureBlockWidth: 460px;
@featureMargin: 10px;
.admissions-features {
  div.top, div.middle, div.bottomleft, div.bottomright {
    .transition(background 1200ms);
    .text-shadow();
    &:hover {
      background-position: 80px;
      .transition(background 300ms);
    }
    * {
      padding: 0;
      margin: 0;
    }
    .content {
      position: absolute;
      bottom: 10px;
      color: #FFF;
      font-size: @featureFontSize;
      line-height: @featureLineHeight;
      em {
        font-size: @featureFontSize + 6px;
        line-height: @featureLineHeight + 2px;
        font-weight: bold;
        font-style: normal;
      }
    }
    position: relative;
    // margin-bottom: 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  div.top,
  div.bottomright {
    .auto-gradient(@highlight-color-2);
  }
  div.top, 
  div.middle {
    .content {
      font-size: 20px;
      line-height: 24px;
      em {
        font-size: 24px;
      }
    }
  }
  div.top {
    height: 110px;
    background-size: 1px 220px;
    .content {
      right: 10px;
      text-align: right;
    }
  }
  div.middle, div.bottomleft, div.bottomright {
    .content {
      left: 10px;
    }
  }
  div.middle {
    .auto-gradient(@shc-purple);
    .text-shadow-dark();
    height: 110px;
    background-size: 1px 220px;
  }
  div.bottomleft, div.bottomright {
    width: 230px;
  }
  div.bottomleft {
    .auto-gradient(@highlight-color-3);
    height: 80px;
    background-size: 1px 160px;
    margin-right: @featureMargin;
  }
  div.bottomright {
    .auto-gradient(@highlight-color-2);
    height: 80px;
    background-size: 1px 160px;
    margin-left: @featureMargin;
  }
  // width: @featureBlockWidth - @featureMargin;
  .row {
    margin-bottom: 10px;
  }
  &.block .inner {
    margin-left: @featureMargin;
    margin-right: 0;
  }
}


.front .view-news {
  //margin-left: 20px;
  .grid16-6 div,
  .grid16-6 p {
    padding-left: 20px;
  }
  .image, .title {
    padding: 0 10px;
  }
  .title {
    font-size: 14px;
  }
  .last .image,
  .last .title {
    padding-right: 0;
  } 
  img {
    width: 340px;
    height: 160px;
  }
}

.more-news {
  h3,
  .news-item .content {
    padding: 0 0 5px 0;
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
    a {
      padding-right: 20px;
    }
  }
  .content {
    font-size: 13px;
  }
  .row.news-item {
    .divider();
  }
}

.upcoming-events {
  .more-link {
    margin-left: 70px;
    margin-top: 10px;
    text-align: left;
  }
  .first p {
    margin-top: 0;
  }
}

.admissions-features,
.admissions-links,
.news,
.events {
  a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: none;  
    }
  }
}

.news,
.upcoming-events {
  a:link, a:visited {
    &:hover {
      text-decoration: underline;  
    }
  }
}
.more-link a:link,
.more-link a:visited {
  &:hover {
    text-decoration: none;
  }
}

.main.row {
  margin-bottom: 0;
}
