/* $Id: ie7-fixes.css 6571 2010-02-25 01:22:28Z chris $ */
.primary-menu ul.menu li {
  display: block;
  float: left;
}
.social-links ul li {
  float: left;
  margin-bottom: 10px;
}
.social-links ul li a {
  float: none;
  display: block;
  text-indent: -9999px !important;
  color: Red;
}
