/* $Id: ie7-fixes.css 6571 2010-02-25 01:22:28Z chris $ */

// .primary-menu-inner ul.sf-menu li,
// .primary-menu-inner ul.sf-menu li li,
// .primary-menu-inner ul.sf-menu li a,
// .primary-menu-inner ul.sf-menu li li a {
// 	display: block;
// 	float: left;
// } 

// .block .inner.primary-menu-inner {
//   background-color: #42145f;
//   }
  
// .primary-menu-inner ul.menu a:hover,
// .primary-menu-inner ul.menu a:active,
// .primary-menu-inner ul.menu a:focus,
// .primary-menu-inner ul.menu a.active,
// .primary-menu-inner ul.menu li.expanded > a.active-trail,
// .primary-menu-inner ul.menu li.sfHover > a,
// .primary-menu-inner ul.menu li:hover > a {
//   background-color: #a386b6;
//   } 
  
//  .primary-menu-inner ul.sf-menu li li a {
//    background-color: #E3DAE9;
//   }
   
//  .primary-menu-inner ul.sf-menu li li a:hover,
//  .primary-menu-inner ul.sf-menu li li a.active {
//     background-color: #a386b6;
//   }

// /* Youtube embed */
// #playlist_thumbs {
// margin-top:20px;
// }

body.front {
    // background: Red;
}

.primary-menu ul.menu {
    li {
        display: block;
        float: left;
    }
}

.social-links {
    ul li {
        float: left;
        margin-bottom: 10px;
        a {
            float: none;
            display: block;
            text-indent: -9999px !important;
            color: Red;
        }
    }
}