.primary-menu ul.menu {
  li {
    // display: inline-block;
    float: left;
    // margin: 0 auto;
    // padding: 0;
    text-transform: uppercase;
    //border: none !important;
    a, a:visited {
      background: transparent;
      // .transition(background 900ms);
      // .text-shadow-dark();
      border-right: none;
      color: #fff;
      height: 30px;
      padding: 12px 12px 0 8px;
      text-align: center;
      margin: 0;
    }
  }
  margin: 0;
  text-align: center;
}




