.primary-menu ul.menu {
  margin: 0;
  text-align: center;
}
.primary-menu ul.menu li {
  float: left;
  text-transform: uppercase;
}
.primary-menu ul.menu li a,
.primary-menu ul.menu li a:visited {
  background: transparent;
  border-right: none;
  color: #fff;
  height: 30px;
  padding: 12px 12px 0 8px;
  text-align: center;
  margin: 0;
}
