/* $Id: ie6-fixes.css 6571 2010-02-25 01:22:28Z chris $ */

/*Embedded Fonts
-------------------------------------------------------------- */
/*font-family: "YanoneKaffeesataz";
  font-weight: lighter, light, normal, bold;
  font-style: normal;
  */
@import url('../fonts/yanone/ie-stylesheet.css');

/*font-family: "SMGoudy";
  font-weight: normal;
  font-style: normal, italic;
  */
@import url('../fonts/goudy/ie-stylesheet.css'); 

/*font-family: "Rokkit";
  font-weight: normal;
  font-style: normal;
  */
@import url('../fonts/rokkitt/ie-stylesheet.css'); 