@base-color-1: #E3DBBF;
@base-color-2: #D3C397;
@base-color-3: #B59D63;

@shc-purple: #3D1951;

@highlight-color-1: #A9A8A9; // light gray
@highlight-color-2: #0070B9; // sky blue
@highlight-color-3: #81BC41; // grassy green

@carousel-width: 960px;
@carousel-height: 335px;

@ug-img: url(/sites/all/themes/spring_hill_college/images/admiss_block_ug-320x160.jpg);
@grad-img: url(/sites/all/themes/spring_hill_college/images/admiss_block_grad-208x160.jpg);
@cs-img: url(/sites/all/themes/spring_hill_college/images/admiss_block_cs-206x160.jpg);
@transfer-img: url(/sites/all/themes/spring_hill_college/images/admiss_block_transfer-320x160.jpg);
@former-img: url(/sites/all/themes/spring_hill_college/images/admiss_block_former-208x160.jpg);

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

// .hide-text-old-browser {
// text-indent: -9999px;
// }

.clearfix () {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.auto-gradient (@color:@shc-purple; @tint_factor:20%) {
	@tint: lighten(@color,@tint_factor);
	//http://www.colorzilla.com/gradient-editor/#542756+0,3d1951+41,3d1951+100;Custom
	background: lighten(@color,@tint_factor); /* Old browsers */
	background: -moz-linear-gradient(top, lighten(@color,@tint_factor) 0%, @color 41%, @color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#542756), color-stop(41%,@color), color-stop(100%,@color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* IE10+ */
	background: linear-gradient(to bottom, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{tint}', endColorstr='@{color}',GradientType=0 ); /* IE6-9 */
}

.auto-gradient-rev (@color:@shc-purple; @tint_factor:15%) {
	@tint: lighten(@color,@tint_factor);
	//http://www.colorzilla.com/gradient-editor/#542756+0,3d1951+41,3d1951+100;Custom
	background: lighten(@color,@tint_factor); /* Old browsers */
	background: -moz-linear-gradient(bottom, lighten(@color,@tint_factor) 0%, @color 41%, @color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,#542756), color-stop(41%,@color), color-stop(100%,@color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* IE10+ */
	background: linear-gradient(to top, lighten(@color,@tint_factor) 0%,@color 41%,@color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color}', endColorstr='@{tint}',GradientType=0 ); /* IE6-9 */
}

.transition (...) {
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}


.divider() {
	border-bottom: 1px solid lighten(@highlight-color-2, 50%);
}


.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}

.text-shadow-dark (@string: 0 1px 3px rgba(0,0,0, 0.5)) {
	text-shadow: @string;
}

.text-shadow-black (@string: 3px 3px 3px rgba(0,0,0, 1.0)) {
	text-shadow: @string;
}


.text-vert () {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.columns (@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}