@import "lib.less";
@import "typography.less";
@import "home.less";

/* Basic Typography & Colors
-------------------------------------------------------------- */

body {
  color: #333;
}

body.front {
  background: url(/sites/all/themes/spring_hill_college/images/shc.bg.png) repeat-x #FFF;
}

body.not-front #page-inner {
  background: #FFF;
  .content-group-inner {
    padding-left: 40px;
  }
}

/* TEST */
.test-site-warning {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FDF5A1;
  .page-inner {
    padding-top: 10px;
  }
}
body.front, body.not-front {
  padding-top: 75px;
  background-position: 0 75px;
}



a,
a:link,
a:visited {
  color: #3a1554;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul.menu a,
ul.menu a:link,
ul.menu a:visited {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1 a,
h2 a,
h3 a, 
h4 a, 
h5 a,
h6 a {
  text-decoration: none;
  color: darken(@highlight-color-1, 30%);
}

a[href^="mailto:"] {
padding-left: 18px;
background: url("/sites/all/themes/spring_hill_college/images/email-icon.png") left top no-repeat;
}

* + h2,
* + h3 {
  margin-top: 20px;
}

// h3.title {
//   color: #961e25;
// }

// h4 {
//   color: #000;
//   margin: 10px 0 0 0;
// }

// h4 a:link,
// h4 a:visited,
// h4 a:active{
//  color: #000;
//  text-decoration: none;
// }

// h4 a:hover {
//  color: #3a1554;
//  text-decoration: underline;
// }

// h5 {
//   border-bottom: 1px dotted #ccc;
//   color: #000;
// }

// h6 {
//   color: #000;
// }

blockquote {
  background: #fcf7ea url(../images/blockquote.png) no-repeat 0 0;
  color: #423211;
  margin: 0 0 20px 0;
  padding: 6px 10px 6px 74px;
}

p, li {
  margin: 10px 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

// ul,
// ol,
// .block .content ul,
// .block .content ol,
// .content-inner ul,
// .content-inner ol {
//   margin: 0 0 8px 30px;
// }

// ul li:first-child,
// ol li:first-child,
// .block .content ul li:first-child,
// .block .content ol li:first-child,
// .content-inner ul li:first-child,
// .content-inner ol li:first-child {
//   margin-top: 8px;
// }

ul li {
  // list-style-image: url(../images/bullet.png);
}

ul.menu li,
ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {
  list-style: none;
  list-style-image: none;
  margin-bottom: 8px;
  a {
    font-size: 16px;
    line-height: 22px;
    .contact-links &,
    .services-links &,
    .other-links & {
      font-size: 13px;
      line-height: 18px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.menu-block-6 {
  ul {
    margin-left: 0;
  }
  li a {
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    display: block;
    &.active {
      border-color: lighten(@highlight-color-2, 20%);
      border-width: 2px;
      border-style: solid none;
    }
  }
}

ul.menu li li {
  padding-left: 20px;
}

ul.menu li li li {
  padding-left: 30px;
}

ul.menu ul.menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-wrapper .block .inner {
  margin: 0;
}


/* WYSIWYG styles
-------------------------------------------------------------- */

p .discreet,
p.discreet {
  margin: 0 0 10px;
}

.button-link-large a,
a.button-link-large,
.button-link-large-red a,
a.button-link-large-red {
  background: url('../images/list-button-bg.png') repeat-x;
  background: #D9CCA5;
  background: -moz-linear-gradient(top, #D9CCA5 0%, #C8B584 100%); /* FF3.6+ */
  background: -ms-linear-gradient(top, #D9CCA5 0%,#C8B584 100%);  /* IE10+ */
  background: -o-linear-gradient(top, #D9CCA5 0%,#C8B584 100%); /* Opera11.10+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9CCA5), color-stop(100%,#C8B584));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #D9CCA5 0%,#C8B584 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #D9CCA5 0%,#C8B584 100%);  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9CCA5', endColorstr='#C8B584',GradientType=0 );  /* IE6-9 */
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #b59d63;
  color: #42145f;
  display: inline-block;
  padding: 0px 10px 4px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.button-link-large-red a,
a.button-link-large-red {
  background: #A42F37;
  background: -moz-linear-gradient(top, #A42F37 0%, #83161B 100%);/* FF3.6+ */
  background: -ms-linear-gradient(top, #A42F37 0%,#83161B 100%);  /* IE10+ */
  background: -o-linear-gradient(top, #A42F37 0%,#83161B 100%); /* Opera11.10+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A42F37), color-stop(100%,#83161B));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #A42F37 0%,#83161B 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #A42F37 0%,#83161B 100%);  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A42F37', endColorstr='#83161B',GradientType=0 );  /* IE6-9 */
  color: #fff;
  border-color: #5D0B10;
}

.button-link-large a:hover,
a.button-link-large:hover{
  background: #b59d63;
  color: #fff;
  text-decoration: none;
}

.button-link-large-red a:hover,
a.button-link-large-red:hover {
  background: #5d0b10;
  text-decoration: none;
} 

.button-link-small a,
a.button-link-small,
form input.form-submit {
  background-color: @highlight-color-2;
  border: 1px solid darken(@highlight-color-2, 10%);
  // border-radius: 2px 2px 2px 2px;
  color: #FFF;
  padding: 2px 6px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  -moz-transition:all 900ms;
  -webkit-transition:all 900ms;
  -o-transition:all 900ms;
  -ms-transition:all 900ms;
  transition:all 900ms;
  &:hover {
    background-color:#005186;
    -moz-transition:all 300ms;
    -webkit-transition:all 300ms;
    -o-transition:all 300ms;
    -ms-transition:all 300ms;
    transition:all 300ms;
  }
}

// .button-link-small a:hover,
// a.button-link-small:hover{
//   background-color: darken(@highlight-color-2, 10%);
// }

/* Site Info
-------------------------------------------------------------- */

.header-site-info {
  height: 127px;
  left: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
}

.header-site-info span {
  display: block;
}

h1.header-logo {
  a {
    display: block;
    background: url("../images/shc.logo.png") no-repeat center top;
    background-size: 302px 72px;
    width: 310px;
    height: 74px;
    margin: 0 auto;
    .hide-text;
    transition: (all 500ms);
    .backgroundsize & {
      &:hover {
        transition: (all 100ms);
        background-size: 304px 73px;
      }
    }
  }
}

/* Link and hover styles for site name */

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  
}

/* Typography for site slogan */

#slogan {
  
}

/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */

.page-inner {
  background: transparent;
  margin: 0 auto 20px auto;
  padding: 0;
  width: 960px;
}

// .main-inner > .row {
//   margin-bottom: 0;
// }

/* Header Regions
-------------------------------------------------------------- */
.frontmatter-wrapper {
  background: @shc-purple;
  .cssgradients & {
    .auto-gradient(@shc-purple);
  }
  padding-top: 10px;
  color: #FFF;
}

.primary-menu-wrapper {
  border-top: 1px solid lighten(@shc-purple, 7%);
  border-bottom: 2px solid @highlight-color-1;
  .row {
    margin-bottom: 0;
  }
}

#header-group {
    overflow: hidden;
    height: 110px;
}

/* Primary Menu/
-------------------------------------------------------------- */

.block .inner.primary-menu-inner {
  background-color: @highlight-color-1;
  background-color: transparent;
  // border-bottom: 2px solid @base-color-3;
  // border-top: 1px solid #3c1256;
  margin: 0;
  // width: 100%;
}

.primary-menu ul.menu {
  li {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    //border: none !important;
    a, a:visited {
      background: transparent;
      .transition(all 900ms);
      .text-shadow-dark();
      border-right: none;
      color: #fff;
      height: 30px;
      padding: 12px 12px 0 12px;
      text-align: center;
      margin: 0;
    }
  }
  margin: 0;
  text-align: center;
}

.primary-menu-inner ul.menu li.first > a,
.primary-menu-inner ul.menu li.first > a:visited {
    border-left: none;
}

.primary-menu-inner ul.menu a:hover,
.primary-menu-inner ul.menu a:active,
.primary-menu-inner ul.menu a:focus,
.primary-menu-inner ul.menu li a.active,
.primary-menu-inner ul.menu li.expanded > a.active-trail,
.primary-menu-inner ul.menu li.sfHover > a,
.primary-menu-inner ul.menu li:hover > a {
  .transition(all 300ms);
  background-color: lighten(@highlight-color-1, 10%);
  color: #000;
  .text-shadow();
  text-decoration: none;
}

/* Header - Search
-------------------------------------------------------------- */

.block-google_cse {
    z-index: 100;
    .inner {
      text-align: right;
      .form-text {
        color: #42145F;
        display: block;
        // float: left;
        height: 18px;
        padding: 3px 7px 0;
        width: 150px;
      }
      .form-submit {
        background: url("/sites/all/themes/spring_hill_college/images/submit-bg.png") repeat-x scroll 0 0 #2E0D47;
        // border: 1px solid #2E0D47;
        // border-radius: 0 3px 3px 0;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        height: 24px;
        overflow: hidden;
        padding: 1px 0;
        text-align: center;
        width: 27px;
        &:hover {
          background: #917ea0 url('../images/submit-bg-hover.png') repeat-x 0 0;
          border-color: #917ea0;
        }
    }
  }
}


/*  Preface Regions
-------------------------------------------------------------- */

.preface-top-wrapper {
  border-color: @highlight-color-1;
  border-width: 1px;
  border-style: none solid solid solid;  
}

/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */

// .main-wrapper {
  
// }

.not-front .main-wrapper {
  margin-top: 30px;
}

.content-content {
  line-height: 170%;
}

/* Content Regions
-------------------------------------------------------------- */

.content-top {
  margin-bottom: 20px;
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */

.postscript-bottom .block {
  margin: 0;
}

.footer-wrapper {
  background: (@shc-purple);
  .cssgradients & {
    .auto-gradient-rev(@shc-purple);
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  p, a, h3 {
    color: #FFF;
  }
  a {
    // border-bottom: 1px solid lighten(@shc-purple, 10%);
    display: inline-block;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid @highlight-color-2;
    }
    &.active {
      color: lighten(@highlight-color-2, 10%);
    }
  }
  ul.menu {
    margin-left: 0;
  }
  /* Social Media Links
  -------------------------------------------------------------- */
  .social-links {
    ul li {
      a {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 10px 10px 0;
        float: left;
        background-color: lighten(@shc-purple, 7%);
        background-image: url('/sites/all/themes/spring_hill_college/images/social-sprite.png');
        background-repeat: no-repeat;
        .border-radius();
        .hide-text;
        .transition(all 900ms);
        &.facebook {
          background-position: -7px 0;
        }
        &.twitter {
          background-position: 0 -79px;
        }
        &.flickr {
          background-position: -79px 0;
        }
        &.youtube {
          background-position: -79px -79px;
        }
        &:hover {
          background-color: darken(@highlight-color-1, 20%);
          .transition(all 200ms);
        }
      }
      &.first {
        margin-top: 0;
      }
    }
    .inner {
      width: 141px;
    }
  }
  .other-links .inner {
    padding-right: 50px;
  }
  .social-links .inner {
    padding-left: 70px;
  }
  .contact-links .inner {
    margin-right: 20px;
  }
  .services-links {
    .inner {
      margin-right: 20px;
    }
    h3, ul, p {
      text-align: right;
    }
  }
  &.row {
    margin-bottom: 0;
  }
  .physical-address {
    text-align: center;
    .tel {
      padding-left: 10px;
    }
  }
}


/* Block Styles/
-------------------------------------------------------------- */

.block,
.panel-pane {
  // margin-bottom: 30px;
}

.block.last,
.block:last-child {
  // margin-bottom: 0px;
}

.block {
  margin-bottom: 0;
}

.row {
  // margin-bottom: 20px;
}

/* Page titles/
-------------------------------------------------------------- */

h1.title {
  color: #000;
  //margin-left: 15px;
  margin-right: 15px;
}

/* Node styles/
-------------------------------------------------------------- */

/*images*/

.field-field-main-image {
  float:right;
  margin-left:10px;
  margin-bottom:20px;
  img {
    display:block;
  }
}

.node-type-page .field-field-images {
  margin-top:20px;
  padding-top:15px;
  border-top:1px dashed #ddd;
  img {
    float:left;
    border:1px solid #bbb;
    padding:5px;
    margin-right:10px;
    // border-radius:4px;
    // -moz-border-radius:4px;
    // -webkit-border-radius:4px;
  }
}

/* Change unpublished and preview colors for dark background themes */

.node-unpublished {
  /*background-color: #fff4f4;*/
  background-color: #EDD5D5;
}

.preview .node {
  background-color: #ffffea;
}

/* Links for nodes (taxonomy, commenting, read more, etc) */

.node ul.links {
  margin-left: 0;
}

.more-link {
  margin-top:20px;
  margin-bottom:20px;
  text-align:right;
}

.views-field-field-link-url a,
.more-link a {
  color: #333;
  font-size: 14px;
  padding: 3px 7px;
  text-decoration: none;
  em {
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    color: @highlight-color-2;
  }
}

.views-field-field-link-url a:hover,
.more-link a:hover {
  background-color: #fff;
}

/* More inside view row */

.view .view-content .more a {
  text-decoration: underline;
  white-space: nowrap;
}

.view .view-content .more a:hover {
  text-decoration: none;
}

/* Drupal Messages/-------------------------------------------------------------- */

/* General style for all errors/messages (border, padding, etc.) */

.block.content-help {
  margin-bottom: 0;
}

div.content-help div.help p:first-child {
  margin-top: 0;
}

div.content-help div.help p:last-child {
  margin-bottom: 0;
}

div.content-messages div.messages,
div.content-help div.help {
  border: 1px dotted;
  font-weight: normal;
}

/* Error that appears when a required form field is not filled out */

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */

.marker,
.form-required {
  color: #aa1144;
}

/* Tab Menus/
-------------------------------------------------------------- */

#content-tabs {
  background-color: transparent;
  float: left;


/* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left;


/* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left;


/* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left;


/* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li.active a:link,
#content-tabs ul.primary li.active a:visited,
#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */

ul.pager {
  
}

ul.pager li {
  
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms/
-------------------------------------------------------------- */

/* Typography and backgrounds for all form buttons */

// form input.form-submit {
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
//   background: #2e0d47 url('../images/submit-bg.png') repeat-x 0 0;
//   border-radius: 3px;
//   border: 1px solid #2e0d47;
//   color: #fff;
//   cursor: pointer;
//   display: block;
//   margin: 0 0 30px 0;
//   overflow: hidden;
// }

/* Hover style for form buttons */

// form input.form-submit:hover,
// form input.form-submit.hover,
// form input.form-submit:focus {
//   background: #917ea0 url('../images/submit-bg-hover.png') repeat-x 0 0;
//   border-color: #917ea0;
// }

.form-item {
  margin: 0 0 20px 0;
}

.form-item:last-child {
  margin-bottom: 0;
}

/* Typography, background, borders, padding for form fields */

.form-item input.form-text,
.form-item textarea {
  background-color: #eee;
  border: 1px solid lighten(@highlight-color-2, 50%);
  margin-bottom: 10px;
  padding: 6px;
}

// .form-item select {
  
// }

/* Remove backgrounds and border on radios and checkboxes */

.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */

fieldset {
  border: 1px solid lighten(@highlight-color-2, 10%);
}

/* Typography and spacing for legend of fieldsets */

fieldset legend {
  color: darken(@highlight-color-2, 10%);
}

/* Link style for legend of fieldsets */

// fieldset legend,
// legend.collapse-processed,
// legend.collapse-processed a:link,
// legend.collapse-processed a:visited {
  
// }

/* Custom icons on (open) collapsible fieldsets */

// html.js fieldset.collapsible legend a:link,
// html.js fieldset.collapsible legend a:visited {
  
// }

/* Custom icons on (closed) collapsible fieldsets */

// html.js fieldset.collapsed legend a:link,
// html.js fieldset.collapsed legend a:visited {
  
// }

/* Tables
-------------------------------------------------------------- */

table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:100%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
}
th, td {
  padding:8px 18px 8px; 
}

th {
  padding-top:22px; 
  text-shadow: 1px 1px 1px #fff; 
  background:#E3DAE9;
}

td {
  border-top:1px solid #e0e0e0; 
  border-right:1px solid #e0e0e0;
}

tr.odd td {
  background:#f6f6f6;
}

td.first, th.first {
  text-align:left
}

td.last {
  border-right:none;
}

/*
I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.  Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius
And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/
tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

/*tuition and fees tables*/

tr.total-cost td {
  border-top: 3px solid #a386b6;
  color: #3a1554;
}

/* add-on table classes */

table.col-wide-first tr th:first-child {
width: 70%;
}

table.row-important-last tr:last-child {
font-weight: bold;
}

/* File attachment tables */

table.itu-attachment-list
{
margin: 20px 0;
}

table.itu-attachment-list:before
{
content:"Attachments:";
}

/* Maintenance Page/
-------------------------------------------------------------- */

.in-maintenance {
  
}

/* Module styles/
-------------------------------------------------------------- */

/* Book/
-------------------------------------------------------------- */

.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/* Comments/
-------------------------------------------------------------- */

div.comment {
  
}

div.comment h3.title {
  
}

div.comment div.links a,
div.comment ul.links a {
  
}

.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

.comments div.comment-by-author {
  background-color: #ddd;
}

.signature {
  border-top: 1px solid #d6ddb9;
}

// .comment-wrapper .picture img {
  
// }

/* Forum/
-------------------------------------------------------------- */

// #forum .description {
  
// }

.forum-topic-navigation {
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
}

/* Poll/
-------------------------------------------------------------- */

div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}

/* Profiles/
-------------------------------------------------------------- */

.profile .picture {
  float: none;
}

.profile dt {
  background-color: #ccc;
}

/* Department Pages/
-------------------------------------------------------------- */
#block-views-department_info-block_2 {
  margin-bottom: 0px;
}

.view-department-info .department-links .links {
  margin: 0 10px 20px;
}

.view-department-info .department-links .links + img{
  margin: -30px 10px 30px;
  position: relative;
  z-index: 9;
}

.block .concentration-links .links {
  margin: 0 0 10px 0;
  width: 100%;
}

.block .concentration-links ul li,
.block .concentration-links ul li.first,
.block .concentration-links ul li:first-child,
.block .concentration-links ul li.last,
.block .concentration-links ul li:last-child,
.view-department-info .department-links .links a,
.view-department-info .department-links .links div,
.view-department-info .department-links .links div.first,
.view-department-info .department-links .links div:first-child,
.view-department-info .department-links .links div.last,
.view-department-info .department-links .links div:last-child{
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

// .view-department-info .department-links .links div a,
// .view-department-info .department-links .links a,
// .block .concentration-links ul li a{
//   text-decoration: none;
//   color: #222;
//   background-color: #FCF7EA;
//   margin-bottom: 10px;
//   padding: 2px 10px;
//   border-radius: 2px;
//   -moz-border-radius: 2px;
//   -webkit-border-radius: 2px;
//   border: 1px solid #B59D63;
//   display: block;
//   float: left;
// }

// .view-department-info .department-links .links div a:hover,
// .block .concentration-links ul li a:hover {
//   background-color: #B59D63;
//   color: #fff;
// }

.view-department-info .department-links img {
  display: block;
  position: relative;
  z-index: 1;
  padding: 4px;
  border: 1px solid #A386B6;
  width: 680px;
}

.view-department-info ul.concentration-links {
  margin: 0;
}

.view-department-info .department-links .links:after,
.block .concentration-links ul:after,
.view-department-info ul.concentration-links:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.view-department-info ul.concentration-links li,
.view-department-info ul.concentration-links li.first,
.view-department-info ul.concentration-links li:first-child,
.view-department-info ul.concentration-links li.last,
.view-department-info ul.concentration-links li:last-child {
  width: 30%;
  display: block;
  float: left;
  margin: 2px 2% 4px 0;
}

#block-views-concentrations-block_1{
  padding-top: 20px;
}

#block-views-concentrations-block_1 h2.block-title {
  border-bottom: 1px solid #EDE4CC;
  margin-bottom: 15px;
}

.view-concentrations .concentration {
  // margin-bottom:30px;
}

/* Panels/
-------------------------------------------------------------- */

.panel-2col-stacked .panel-col-first .inside {
  margin: 0 15px 30px 0;
}

.panel-2col-stacked .panel-col-last .inside {
  margin: 0 0 30px 15px;
}

.breadcrumbs {
  margin-bottom: 20px;
}

      
  /* Weblink content
  -------------------------------------------------------------- */    
  
  .weblinkCat fieldset {
    border: none;
  }
  
  .weblinkCat fieldset legend {
    color: #000;
    padding: 0 0 10px 0;
  }
  
  .weblinkCat fieldset legend a {
    text-decoration: none;
    color: #000;
  }
  
  .weblinkCat .teaser.node {
    border-bottom: 1px dotted #ccc;
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
} 


/*****************
 *  formerly local.css
 *  TODO: Integrate this into properly 
 * ****************/

.spinner
{
  background: url("/sites/default/files/images/common/spinner.gif") no-repeat 10px 10px transparent;
}

.highlight h3 a
{
  text-decoration: none;
}

/* hide outer wrapper fieldset if we only have one top-level set of weblinks
 * .undecorated class gets set in local.js */
.weblinkCat-depth-0 fieldset.undecorated
{
  border: none;
  padding: 0;
}

.weblinkCat-depth-0 fieldset.undecorated>legend
{
  display: none;
}

/* clean up appearance of weblinks */
.node-type-weblinks .weblinks-status-notice,
.node-type-weblinks .terms
{
display: none;
}

.node-type-weblinks .weblinks-linkview
{
margin-right: 15px;
}

/*override primary menu padding if needed because of changes to menu item titles*/

// .primary-menu-inner ul.menu a,
// .primary-menu-inner ul.menu a:visited {
//   //padding-left: 8px;
//   //padding-right: 8px;
// }

.social-media
{
  position: relative;
  height: 150px;
  margin-bottom: 20px;
}

.social-media .inner
{
  margin-right: 20px;
  padding-left: 150px;
}

.social-media .inner p
{
  text-indent: -9999px;
}

.social-media img
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#da2a_1
{
  float: right;
}

.image-left,
.image-right
{
  float: left;
  padding: 8px;
  background: #EBE2C8;
  border: 1px solid #D3BC87;
}

.image-left
{
  float: left;
  margin-right: 20px;
}

.image-right
{
  float: right;
  margin-left: 20px;
}

.skin-block-admission .content li p
{
  margin-left: 10px;
  margin-right: 0;
  padding: 5px;
}

.skin-block-admission .content li p.first
{
  margin-left: 0;
  margin-right: 10px;
}

.skin-block-admission .content li p.last
{
  margin-left: 20px;
  margin-right: 0;
}

.calendar-calendar tbody
{
  line-height: 120%;
}

.calendar-calendar .month-view .full td.multi-day .inner .view-field, 
.calendar-calendar .month-view .full td.multi-day .inner .view-field a, 
.calendar-calendar .week-view .full td.multi-day .inner .view-field, 
.calendar-calendar .week-view .full td.multi-day .inner .view-field a, 
.calendar-calendar .day-view .full td.multi-day .inner .view-field,
.calendar-calendar .day-view .full td.multi-day .inner .view-field a
{
  color: #222222;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff,
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview,
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  background: #dddddd;
}

.view-content .calendar-calendar ul.links 
{
  margin-left: 60px;
}

.view-content .calendar-calendar li
{
  float: none;
}

.calendar-actions
{
  position: absolute;
  right: 0;
  top: 0;
  height: 2.5em;
}

.calendar-actions .button
{
  float: right;
  margin-right: 5px;
}

.cal-selector .stripe
{
  width: 2em;
  height: 2em;
}

.page-calendar .ui-dropdownchecklist-dropcontainer
{
  position: relative;
  z-index: 1000;
  padding: 10px;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
}

form#views-exposed-form-shc-calendar2-calendar-1
{
  margin-top: 14px;
  margin-bottom: 16px;
}

form#views-exposed-form-shc-calendar2-calendar-1 .form-submit {
  margin-top: 1em;
}

.ui-dropdownchecklist-selector
{
  cursor: pointer;
}

div.ui-dropdownchecklist-item
{
  margin-bottom: 4px;
}

div.ui-dropdownchecklist-item label
{
  display: inline;
  padding-left: 10px;
}

// .field-field-main-image
// {
//   float: right;
//   margin-left: 10px;
//   margin-bottom: 20px;
//   padding: 4px;
// }

// .info-links ul
// {
//   margin-left: 0 !important;
// }

// .info-links ul:after{
//   content: ".";
//   display: block;
//   clear: both;
//   visibility: hidden;
//   line-height: 0;
//   height: 0;
// }

// .info-links ul li
// {
//   list-style: none;
// }

// a.info-link,
// .info-links ul li a 
// {
//   text-decoration: none;
//   color: #310D49;
//   background-color: #E3DAE9;
//   padding: 3px 10px;
//   border-radius: 2px;
//   -moz-border-radius: 2px;
//   -webkit-border-radius: 2px;
//   border: 1px solid #A386B6;
//   display: block;
//   float: left;
//   margin-right: 10px !important;
// }

// a.info-link
// {
//   display: inline;
//   float: none;
// }

// a.info-link:hover,
// .info-links ul li a:hover 
// {
//   background-color: #961E25;
//   color: #fff;
// }

a.info-link,
.info-links ul li a,
.button-link-small a,
a.button-link-small {
  .auto-gradient(@highlight-color-2);
  // background-color: @highlight-color-2;
  border: 1px solid darken(@highlight-color-2, 10%);
//    // border-radius: 2px 2px 2px 2px;
// -   color: #FFF;
// -   padding: 1px 6px;
// -   text-decoration: none;
// -   white-space: nowrap;
// -   display: inline-block;
  color: #FFF;
  padding: 2px 7px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  .transition(all 900ms);
  &:hover{
    background-color: darken(@highlight-color-2, 10%);
    .transition(all 300ms);
  }
}

.info-links li {
  list-style-type: none;
}

.node-type-page .field-field-images
{
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px dashed #ddd;
}

.node-type-page .field-field-images img
{
  float: left;
  border: 1px solid #bbb;
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.view-id-shc_calendar2 .cal
{
  color: #877242;
}


.form-item
{
  margin: 10px 0 10px 0;
}

.form-item .description 
{
    color: #777777;
}

.form-item .description:hover
{
    color: #000000;
}

.notice
{
  padding: 5px 10px;
  background: #F2F082;
  -moz-border-radius: 5px;
  border: 1px solid #aaa;
  margin-bottom: 10px !important;
}

.quote
{
  padding-left: 36px;
  background: url(/sites/default/files/images/common/quote.png) no-repeat 0 3px;
  margin-bottom: 14px;
}

blockquote.pull {
  width: 180px;
  float: right;
}

.postscript-bottom-wrapper
{
  margin-top: 10px;
}

#pid-academics .pane-topical-highlights,
#pid-admissions .pane-topical-highlights
{
  margin-top: 50px;
}

.attention
{
  color: darken(@highlight-color-3, 15%);
}

.hover {
  cursor: pointer;
}

#precursor-wrapper
{
  // position: relative;
  // top: -3px;
  // height: 21px;
  // overflow: hidden;
}

#block-menu-menu-precursor {
  margin: 0;
}

#block-menu-menu-precursor ul
{
  // text-align: right !important;
}

#block-menu-menu-precursor ul,
#block-menu-menu-precursor li
{
  margin: 0;
}

#block-menu-menu-precursor ul li a
{
  color: #FFF;
  text-decoration: none;
}

#block-menu-menu-precursor ul li a:hover
{
  background: #917AA6;
}

.standout
{
  color: #70060C;
  font-size: 110%;
  font-style: italic;
}

/* Youtube embed */
#playlist_thumbs {
  margin-top: 10px;
}

#playlist_thumbs ul {
  margin: 0;
}

#playlist_thumbs li {
  position: relative;
  list-style-type: none;
  list-style-image: none;
  margin: 0 !important;
  float: left;
  width: 108px;
  height: 100px;
  z-index: 100;
}

#playlist_thumbs li img {
  width: 100px;
  border: 2px solid transparent;
}

#playlist_thumbs li img:hover {
  border-color: #9179a5;
}

/* toggler tag */

.toggler {
  padding-left: 22px;
  background: url(/sites/all/themes/spring_hill_college/images/toggle-off.png) no-repeat left 5px;
}

.toggler:hover {
  cursor: pointer;
  text-decoration: underline;
}

.togglee {
  border-left: 2px solid #A487B6;
  margin-left: 8px;
  padding-left: 14px;
}

.toggler-open {
  background-image: url(/sites/all/themes/spring_hill_college/images/toggle-on.png);
}

/* toc tag */

.toc #content-group-inner {
  position: relative;
}
#toc-wrapper {
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 1000;
  padding: 5px;
  width: 200px;
  border: none;
  border-top: 1px solid lighten(@shc-purple, 7%);
  background-color: lighten(@highlight-color-1, 20%);
  a, h3 {
    color: #111;
  }
  h3 {
    font-size: 19px;
  }
  .togglee {
    border: none;
    margin-left: 0;
    padding-left: 0;
  }
  .toc-h2 {
    font-weight: bold;
  }
  .toc-h3 {
    margin-left: 8px;
  }
  ul {
    margin-left: 8px;
    li {
      list-style-type: none;
      list-style-image: none;
      line-height: 112%;
      margin-bottom: 4px;
      a {
        display: block;
        font-size: 13px;
        text-decoration: none;
        margin-top: 6px;
        border-bottom: 1px solid lighten(@highlight-color-1, 5%);
        &:hover {
          border-bottom-color: @highlight-color-2;
        }
      }
    }
  }
}


@admissBlockFontSize: 22px;
@admissBlockLineHeight: 24px;

.sidebar-first .block-menu_block.first {
  margin-bottom: 30px;
}

.admissions-links {
  .content {
    color: #FFF;
    padding: 5px 10px;
    font-size: @admissBlockFontSize;
    line-height: @admissBlockLineHeight;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .apply, .visit, .italy, .programs {
    .transition(background 1200ms);
    margin-bottom: 10px;
    .text-shadow();
    &:hover {
      background-position: 80px;
      .transition(background 300ms);
    }
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .italy, .programs {
    height: 40px;
    background-size: 1px 80px;
    .content {
      margin-top: 3px;
    }
  }
  .visit, .programs {
    .auto-gradient(@shc-purple);
  }
  .apply {
    .content {
      margin-top: 14px;
      font-size: 30px;
      line-height: 33px;
    }
    width: 150px;
    height: 110px;
    .csstransforms & {
      width: 165px;
    }
    margin-right: 10px;
    .auto-gradient(@highlight-color-2);
    background-size: 1px 220px;
  }
  .visit {
    width: 80px;
    height: 110px;
    background-size: 1px 220px;
    .content {
      margin-top: 34px;
    }
    .csstransforms & {
      width: 65px;
    }
    .content p {
      .csstransforms & {
        .text-vert ();
        // margin-top: 0;
      }
    }
  }
  .italy {
    .auto-gradient(@highlight-color-3);
    background-size: 1px 80px;
  }
  .programs {
    background-size: 1px 80px;
  }
  .not-front & {
      margin-top: 30px;
    }
}





@media screen and (min-width:1320px) {
  /* if user has plenty of real estate, move toc into right gutter */
  
  #toc-wrapper {
    position: fixed;
    top: 46px;
    right: 0;
    width: 150px;
  }

  #toc {
   display: block !important;
  }

  #toc-wrapper .toggler {
    background-image: none !important;
    padding-left: 5px;
  }
  
  #toc-wrapper .toggler:hover {
    cursor: auto;
    text-decoration: none;
  }

}

.notification .Alert,
.notification .Emergency {
  padding: 10px;
  border: 1px solid transparent;
  -webkit-border-radius: 010px;
  -moz-border-radius: 010px;
  border-radius: 010px;
}

.notification .Alert {
  background: #F2F082;
  border-color: #C4C705;
}

.notification .Emergency {
  background: #F9DDDD;
  border-color: #961E25;
}

.notification .Alert h3,
.notification .Emergency h3 {
  margin-top: 0;
  font-size: 30px !important;
}

.view-jobs .files {
  margin-top: 10px;
  margin-left: 20px;
}
.view-jobs .files label {
  font-weight: bold;
}

.view-jobs .view-content h4 {
  border-top: 1px solid #A386B6;
  margin-top: 20px;
  padding-top: 20px;
}

.view-jobs .view-content .first h4 {
  border-top: none;
  margin-top: 0;
  padding-top: 10px;
}

.notification .Emergency h3 {
  background: url(/sites/all/themes/spring_hill_college/images/alert_icon.png) no-repeat left center;
  padding-left: 24px;
}

.mobileOnly {
  display: none;
}

ul.audience-selector {
  margin-left: 0;
}


.audience-selector {
  li {
    margin-bottom:20px;
    list-style-type:none;
    zoom:1;
    &:before {
      content:'';
      display:block;
    }
    &:after {
      content:'';
      display:table;
      clear:both;
    }
  }
  img {
    height:110px;
    float:left;
    padding-right:20px;
  }
  a {
    color:#0070b9;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
  em {
    font-size:20px;
    font-style:normal;
  }
}

.view-concentrations ul.department {
  margin-bottom:20px;
  .csscolumns & {
    .columns (50%, 2, 30px, transparent);
    padding-bottom:20px;
    border-bottom:1px solid #b9e3ff;
  }
  li {
    list-style-type:none;
    .csscolumns & {
      margin:0 0 10px 0;
    }
  }
}


.blocks > * {
  float: left;
  margin-left: 20px;
}

.block ul.application-selector {
  margin: 0;
}

.application-selector {
  .clearfix;
  &.col2 {
    li {
      width: (680px - (2*20px))/2;
    }
  }
  &.col3 {
    li {
      width: (680px - (3*20px))/3;
    }
  }
  li {
    list-style-type: none;
    &[class^='top'] {
      
    }
    &[class^='bottom'] {
      
    }
    a {
      position: relative;
      display: block;
      height: 160px;
      color: #FFF;
      em {
        position: absolute;
        left: 15px;
        bottom: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
      }
    }
    &.ug .title,
    &.former .title {
      .auto-gradient(@shc-purple);
      .text-shadow-dark();
    }
    &.transfer .title,
    &.grad .title {
      .auto-gradient(@highlight-color-2);
      .text-shadow();
    }
    &.cs .title {
      .auto-gradient(@highlight-color-3);
      .text-shadow();
    }
    a:hover {
      .text-shadow-black();
    }
  }
  .csstransforms & {
    li {
      &.ug a,
      &.transfer a,
      &.grad a,
      &.cs a,
      &.former a {
        background-repeat: no-repeat;
        background-position: 0 -160px;
        .transition (all, 500ms);
        &:hover {
          background-position: 0 0;
          .transition (all, 100ms);
        }
      }
      &.ug a {
        background-image: @ug-img;
      }
      &.transfer a {
        background-image: @transfer-img;
      }
      &.grad a {
        background-image: @grad-img;
      }
      &.cs a {
        background-image: @cs-img;
      }
      &.former a {
        background-image: @former-img;
      }
    }
  }
}


.skin-view-news {
  .item {
    line-height:150%;
  }
  .image img {
    display:block;
    float:left;
    margin:3px 15px 10px 0;
  }
  .date {
    color:#666;
    font-size:14px;
    margin-bottom:4px;
  }
  .title {
    font-size:16px;
    line-height:20px;
    margin-bottom:4px;
  }
}

#calpopup .title a {
  color:#0070b9;
}





/* 2) Admission block for SHC Admissions page */
// .academics-audience-block,
// .skin-block-admission {
//   max-width: 100%;
//   ul {
//     margin: 0;
//     li,
//     li.first,
//     li.last {
//       display: block;
//       float: left;
//       width: 33%;
//       overflow: visible;
//       margin: 0;
//     }
//     li {
//       display: block;
//       margin: 0 10px;
//       overflow: visible;
//     }
//     li.first {
//       margin-left: 0;
//       margin-right: 20px;
//     }
//     li.last {
//       margin-right: 0;
//       margin-left: 20px;
//     }
//   }
//   img {
//     border: 3px solid #fff;
//     box-shadow: 0px 0px 1px #a588b6;
//     display: block;
//     height: auto;
//     margin: 1px 1px 9px 1px;
//     max-width: 100%;
//   }
//   a span {
//     background: #3c1954;
//     border: 3px solid #fff;
//     box-shadow: 0px 0px 1px #a588b6;
//     color: #fff;
//     display: block;
//     font-size: 30px;
//     height: auto;
//     line-height: 36px;
//     margin: 1px 1px 9px 1px;
//     padding: 2px 0 6px;
//     width: 100%;
//     text-align: center;
//     text-decoration: none;
//   }
//   a:hover {
//     text-decoration: none;
//   }
//   a:hover span {
//     background: #9c1e21;
//   }
// }
