@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");

@base-font-size: 14px;

@font-size-0: 0.9;
@font-size-1: 1.0;
@font-size-2: 1.1;
@font-size-25: 1.3;
@font-size-3: 1.5;
@font-size-4: 1.7;
@font-size-45: 1.8;
@font-size-5: 2.0;
@font-size-6: 2.2;

@heading-font1: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
@heading-font2: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
@body-font: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
@highlight-font: "Times New Roman", Times,serif;

.heading_text1(@size: @font-size-1, @weight: 600) {
font-family: @heading-font1;
font-weight: @weight;
font-size: @base-font-size * @size;
line-height: @base-font-size * @size * 1.5;
}

.heading_text2(@size: @font-size-1, @weight: 600) {
font-family: @heading-font2;
font-weight: @weight;
font-size: @base-font-size * @size;
line-height: @base-font-size * @size * 1.5;
}

.body_text(@size: @font-size-1, @weight: 400) {
font-family: @body-font;
font-weight: @weight;
font-size: @base-font-size * @size;
line-height: @base-font-size * @size * 1.5;
}

.highlight_text(@size: @font-size-2, @weight: 400, @style: italic) {
font-family: @highlight-font;
font-weight: @weight;
font-style: @style;
font-size: @base-font-size * @size;
line-height: @base-font-size * @size * 1.5;
}

/* Typography
-------------------------------------------------------------- */

/* Base Settings
-------------------------------------------------------------- */
body {
  .body_text();
}

.form-text {
  .body_text();
}


/* HTML Elements
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 h6 {
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 143%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

h3, h4, h5, h6 {
  color: @highlight-color-2;
}

#footer {
  font-size: 95%;
}


/* Nodes
/-------------------------------------------------------------- */
/* bylines and taxonomy */
.submitted,
.terms {
  font-size: 95%;
}

.terms {
  line-height: 130%;
}

.node .read-more,
.node .more-link,
.node .links {
  font-size: 95%;
}


/* Comments
/-------------------------------------------------------------- */
div.comment div.links a,
div.comment ul.links a {
  font-size: 90%;
}

.signature {
  font-size: 91.6%;
}


/* Links
/-------------------------------------------------------------- */
/* breadcrumbs */
.breadcrumbs {
  font-size: 90%;
  line-height: 100%;
}

/* pagers */
ul.pager {
  font-size: 90%;
  line-height: 150%;
}

ul.pager li {
  line-height: 250%;
}


/* Lists
/-------------------------------------------------------------- */
// li,
// li.leaf,
// ul.menu li,
// .item-list ul li {
//   line-height: 150%;
// }


/* Forms
/-------------------------------------------------------------- */
/* form buttons */
.form-submit {
  font-size: 80%;
}

.form-item .description {
  font-size: 95%;
  line-height: 130%;
}

/* region labels on block admin page */
.block-region {
  font-size: 130%;
}


/* Tab Menus
/-------------------------------------------------------------- */
// #content-tabs ul.primary li a:link,
// #content-tabs ul.primary li a:visited {
//   font-size: 110%;
//   line-height: 120%;
// }

// #content-tabs ul.secondary li a:link,
// #content-tabs ul.secondary li a:visited {
//   font-size: 100%;
//   line-height: 110%;
// }


/* Poll
/-------------------------------------------------------------- */
/* increase default font size and spacing of poll titles */
.block-poll .poll div.title {
  font-size: 120%;
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
  font-size: 90%;
}


/* Skinr
/-------------------------------------------------------------- */
/* callout block style */
// .fusion-callout .inner {
//   font-size: 150%;
// }

// /* multi-column menu style */
// .fusion-multicol-menu .inner ul li {
//   font-size: 115%;
// }

// .fusion-multicol-menu .inner ul li.expanded ul {
//   font-size: 75%;
// }

// .fusion-multicol-menu .inner ul li.expanded ul li ul {
//   font-size: 85%;
// }

// /* horizontal login style*/
// .fusion-horiz-login#block-user-0 #user-login-form label {
//   font-size: 90%;
// }

// html.js .fusion-horiz-login#block-user-0 #user-login-form label {
//   font-size: 85%;
// }

// .fusion-horiz-login#block-user-0 .item-list li {
//   font-size: 95%;
//   line-height: 105%;
// }

// .fusion-horiz-login#block-user-0 #edit-openid-identifier-wrapper .description {
//   font-size: 80%;
// }


/* Grid Mask Overlay
-------------------------------------------------------------- */
#grid-mask-toggle {
  font-size: 14px;
}

/* Specific Typography
-------------------------------------------------------------- */
#site-name-wrapper {
  display: none;
}

.image-left .caption,
.image-right .caption
{
text-align: center;
font-size: 110%;
}

.skin-block-admission .content li p
{
  line-height: 18px;
  text-align: justify;
}

form#views-exposed-form-shc-calendar2-calendar-1 label
{
  font-size: 130%;
}

.more
{
  font-weight: bold;
}

a.info-link,
.info-links ul li a 
{
  font-size: 13px;
  font-weight: bold;
}

.view-id-shc_calendar2 .cal
{
  font-style: italic;
}

.form-item label 
{
  font-size: 120%;
}

.form-item label.option 
{
  font-size: 100%;
}

.important
{
  font-weight: bold;
}

.quote
{
  font-style: italic;
}

blockquote.pull p {
  font-size: 17px;
}

.attention
{
  font-size: 120%;
  font-style: italic;
}

#block-menu-menu-precursor ul li a
{
.body_text(@font-size-1);
}

.home-features-carousel h2,
.home-features-carousel-promo  {
  .heading_text2(@font-size-4);
  line-height: 28px;
}

.home-features-carousel-promo {
  .brand {
    .highlight_text();
    color: @shc-purple;
  }
}

h1.title {
  .heading_text2(@font-size-45);
  line-height: 32px;
}

form input.form-submit {
  .heading_text1();
}

.primary-menu ul.menu li a,
.primary-menu ul.menu li a:visited {
  .body_text(@font-size-0);
}



// #edit-theme-font-size-font-size-10-wrapper label {
//   font-size: 10px;
// }

// #edit-theme-font-size-font-size-11-wrapper label {
//   font-size: 11px;
// }

// #edit-theme-font-size-font-size-12-wrapper label {
//   font-size: 12px;
// }

// #edit-theme-font-size-font-size-13-wrapper label {
//   font-size: 13px;
// }

// #edit-theme-font-size-font-size-14-wrapper label {
//   font-size: 14px;
// }

// #edit-theme-font-size-font-size-15-wrapper label {
//   font-size: 15px;
// }

// #edit-theme-font-size-font-size-16-wrapper label {
//   font-size: 16px;
// }

// #edit-theme-font-size-font-size-17-wrapper label {
//   font-size: 17px;
// }

// #edit-theme-font-size-font-size-18-wrapper label {
//   font-size: 18px;
// }


// .font-family-sans-serif-sm,
// .font-family-sans-serif-sm .form-text {
//   font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif;
// }

// .font-family-sans-serif-lg,
// .font-family-sans-serif-lg .form-text {
//   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
// }

// .font-family-serif-sm,
// .font-family-serif-sm .form-text {
//   font-family: Garamond, Perpetua, "Nimbus Roman No9 L", "Times New Roman", serif;
// }

// .font-family-serif-lg,
// .font-family-serif-lg .form-text {
//   font-family: Baskerville, Georgia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
// }

// .font-family-myriad,
// .font-family-myriad .form-text {
//   font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
// }

// .font-family-lucida,
// .font-family-lucida .form-text {
//   font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
// }

// .font-family-tahoma,
// .font-family-tahoma .form-text {
//   font-family: Tahoma, Arial, Verdana, sans-serif;
// }


// h1 {
//   color: #000;
//   .heading_text2;
//   line-height: 32px;
// }

// .content-content h2 {
//   .body_text(@font-size-3);
// }

// h2.title,
// h2.title a,
// h3 {
//   color: #961e25;
//   .heading_text2(@font-size-3);
//   line-height: 26px;
//   margin-bottom: 4px;
// }

// h2,
// h2.block-title {
//   .heading_text1(@font-size-4);
//   color: #000;
// }

// h2 a,
// h2.block-title a {
//   color: #000;
//   text-decoration: none;
// }

// h4 {
//   .body_text(@font-size-2);
// }

// h4.title {
//   font-weight: bold;
// }

// h5 {
//   .body_text();
// }

// h6 {
//   .body_text(0.9);
// }

// blockquote {
//   .heading_text1(@font-size-2);
//   font-style: italic;
// }

// blockquote p {
//   font-size: 19px;
//   font-style: italic;
// }

// p, li {
//   .body_text();
// }

// table p {
//   line-height: 1.2em;
// }

// ul,
// ol,
// .block .content ul,
// .block .content ol,
// .content-inner ul,
// .content-inner ol {
//   line-height: 16px;
// }

// sup { 
//   vertical-align:text-top; font-size:75%; 
// }

// .discreet {
//   font-size: .8em;
//   font-style: italic;
// }

// p .discreet,
// p.discreet {
//   font-size: 11px;
// }


// .button-link-large a,
// a.button-link-large,
// .button-link-large-red a,
// a.button-link-large-red {
//   .heading_text1(@font-size-2);
// }

// .button-link-small a,
// a.button-link-small {
//    font-size: 12px;
// }

// .primary-menu-inner ul.menu a,
// .primary-menu-inner ul.menu a:visited {
//   .heading_text2(@font-size-25);
// }

// .search-box-inner .form-text {
//   .body_text();
// }

// .search-box-inner .search_submit {
//   .heading_text1();
// }

// .block-google_cse .inner .form-text {
//   .body_text();
// }

// .block-google_cse .inner .form-submit {
//   .heading_text1();
// }

// .form-item input.form-text,
// .form-item textarea {
//   font-size: 14px;
//   line-height: 18px;
// }

// fieldset legend {
//   .heading_text1(@font-size-2);
// }


/*tuition and fees tables*/
/*
tr td.cost {
  text-align: right;
  font-size: 11px;
  font-style: italic;
}

tr td.cost:first-line {
  font-size: 13px;
  font-style: normal;
}

tr.total-cost td {
  font-weight: bold;
  font-size: 14px;
}

tr.total-cost td.cost,
tr.total-cost td.cost:first-line {
  font-size: 16px;
}

.weblinkCat fieldset legend {
  .heading_text1(@font-size-3);
}

.weblinkCat h3
{
  font-size: 20px;
}

.content-content .weblinks-linkview
{
line-height: 100%;
}

.weblinkCat .weblinks-linkview a
{
font-size: 12px;
line-height: 14px !important;
}

.weblinkCat-depth-2 fieldset legend
{
font-size: 24px;
}

.front .view-features .views-field-teaser *
{
  font-size: 36px;
  line-height: 40px;
}

*/